@import "tailwindcss";
.ProseMirror {
  outline: none;
  min-height: 100px;
}

.btn {
  background: transparent;
  /* border: 1px solid #ccc; */
  padding: 4px 8px;
  font-size: 0.875rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: #7337ff;
}
